body {
display: flex;
flex-direction: column;
justify-content: space-around;
/*align-items: center;*/

}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none ;
    padding: 0;
    padding-top: 2.5vh;
}
.thumbnails-image {
width: 20vw;
height: 18vw;
display: block;
}
.details-image {
    width: 60vw;
    height: 55vw;

}
.details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.thumbnails-title {
display: block;
text-align: center;
background-color: burlywood;
color: black;
font-size: 1.2rem;

}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    
   
}
.thumbnails-anchor {
    text-decoration: none;
}
.details-title {
    background-color: orange;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
}
.logo-title {
    background-color:darkolivegreen;
    color: black;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-style:oblique
    
}
body, html {
    height: 100%;
}
@media (min-width: 568px) {
  .thumbnails-list {
      flex-direction: column;
      flex-wrap:nowrap;
     /* order: -1;*/
      max-height: 80vh;
      max-width: 30%;
      align-items:center;
      overflow-y: auto ;
      padding-top: 0vh;
      justify-content:start;
      margin-left: 5vw;
      
    
      
      }  
  .thumbnails-title {
      width: 16vw;
      position: absolute;
      bottom: 0;
      background-color: white;
      
      
    }
  .thumbnails-item {
      max-width: 16vw;
      min-height: 12vw;
      position: relative;
      border:white solid 3px;
      border-radius: 12%;
      overflow:hidden;
    }
    .thumbnails-image {
        max-width: 16vw;
        max-height: 12vw;
    }
    
      
 .details-container {
      float: right;
     align-items: center;
     margin-top: 4vh;
     min-width: 70%;
     
  }
  .details-image {
    width: 51vw;
    height: 36vw; 
    border-radius: 10%;
    }
  body {
      background-color:moccasin;
      max-height: 96%;
  }
  ::-webkit-scrollbar {
      width: 0px;
  }
  .details-title {
    left: 3vw;
    bottom: 2vw;
    width: 25vw;
    font-size: larger;

  }
  
  
}